<h1>Editing country film</h1>

<%= render "form", country_film: @country_film %>

<br>

<div>
  <%= link_to "Show this country film", @country_film %> |
  <%= link_to "Back to country films", country_films_path %>
</div>
