<div id="<%= dom_id user_history %>">
  <p>
    <strong>User profile:</strong>
    <%= user_history.user_profile_id %>
  </p>

  <p>
    <strong>Film:</strong>
    <%= user_history.film_id %>
  </p>

</div>
