<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" dir="ltr" style="--header-height: 54px;"><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>StreamIT | Responsive Bootstrap 5 Template</title>
  <!-- Google Font Api KEY-->
  <meta name="google_font_api" content="AIzaSyBG58yNdAjc20_8jAvLNSVi9E4Xhwjau_k">

  <!-- Favicon -->
  <link rel="shortcut icon" href="https://templates.iqonic.design/streamit/html/frontend/assets/images/favicon.ico">

  <!-- Library / Plugin Css Build -->
  <link rel="stylesheet" href="https://templates.iqonic.design/streamit/html/frontend/assets/css/core/libs.min.css">

  <!-- font-awesome css -->
  <link rel="stylesheet" href="https://templates.iqonic.design/streamit/html/frontend/assets/vendor/font-awesome/css/all.min.css">

  <!-- Iconly css -->
  <link rel="stylesheet" href="https://templates.iqonic.design/streamit/html/frontend/assets/vendor/iconly/css/style.css">

  <!-- Animate css -->
  <link rel="stylesheet" href="https://templates.iqonic.design/streamit/html/frontend/assets/vendor/animate.min.css">

  <!-- SwiperSlider css -->
  <link rel="stylesheet" href="https://templates.iqonic.design/streamit/html/frontend/assets/vendor/swiperSlider/swiper.min.css">





  <!-- Streamit Design System Css -->
  <link rel="stylesheet" href="https://templates.iqonic.design/streamit/html/frontend/assets/css/streamit.min.css?v=5.1.0">

  <!-- Custom Css -->
  <link rel="stylesheet" href="https://templates.iqonic.design/streamit/html/frontend/assets/css/custom.min.css?v=5.1.0">

  <!-- Rtl Css -->
  <link rel="stylesheet" href="https://templates.iqonic.design/streamit/html/frontend/assets/css/rtl.min.css?v=5.1.0">

  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&amp;display=swap" rel="stylesheet">

</head>

<body class="  ">
<span class="screen-darken"></span>
<!-- loader Start -->
<!-- loader Start -->
<div class="loader simple-loader animate__animated animate__fadeOut d-none">
  <div class="loader-body">
    <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/loader.gif" alt="loader" class="img-fluid " width="300">
  </div>
</div>
<!-- loader END -->  <!-- loader END -->
<main class="main-content">
  <!--Nav Start-->
  <header class="header-center-home header-default header-sticky">
    <nav class="nav navbar navbar-expand-xl navbar-light iq-navbar header-hover-menu py-xl-0">
      <div class="container-fluid navbar-inner">
        <div class="d-flex align-items-center justify-content-between w-100 landing-header">
          <div class="d-flex gap-3 gap-xl-0 align-items-center">
            <div>
              <button type="button" data-bs-toggle="offcanvas" data-bs-target="#navbar_main" aria-controls="navbar_main" class="d-xl-none btn btn-primary rounded-pill p-1 pt-0 toggle-rounded-btn">
                <svg width="20px" class="icon-20" viewBox="0 0 24 24">
                  <path fill="currentColor" d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
                </svg>
              </button>
            </div>
            <!--Logo -->
            <div class="logo-default">
              <a class="navbar-brand text-primary" href="./index.html">
                <img class="img-fluid logo" src="https://templates.iqonic.design/streamit/html/frontend/assets/images/logo.webp" loading="lazy" alt="streamit">
              </a>
            </div>
            <div class="logo-hotstar">
              <a class="navbar-brand text-primary" href="./index.html">
                <img class="img-fluid logo" src="https://templates.iqonic.design/streamit/html/frontend/assets/images/logo-hotstar.webp" loading="lazy" alt="streamit">
              </a>
            </div>
            <div class="logo-prime">
              <a class="navbar-brand text-primary" href="./index.html">
                <img class="img-fluid logo" src="https://templates.iqonic.design/streamit/html/frontend/assets/images/logo-prime.webp" loading="lazy" alt="streamit">
              </a>
            </div>
            <div class="logo-hulu">
              <a class="navbar-brand text-primary" href="./index.html">
                <img class="img-fluid logo" src="https://templates.iqonic.design/streamit/html/frontend/assets/images/logo-hulu.webp" loading="lazy" alt="streamit">
              </a>
            </div>

          </div>
          <nav id="navbar_main" class="offcanvas mobile-offcanvas nav navbar navbar-expand-xl hover-nav horizontal-nav mega-menu-content py-xl-0">
            <div class="container-fluid p-lg-0">
              <div class="offcanvas-header px-0">
                <button type="button" class="btn-close float-end px-3" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <ul class="navbar-nav iq-nav-menu  list-unstyled" id="header-menu">
                <li class="nav-item">
                  <a class="nav-link active" data-bs-toggle="collapse" href="#homePages" role="button" aria-expanded="false" aria-controls="homePages">
                    <span class="item-name">Home</span>
                    <span class="menu-icon">
                              <i class="fa fa-caret-down toggledrop-desktop right-icon" aria-hidden="true"></i>
                              <span class="toggle-menu">
                                <i class="fa fa-plus  arrow-active text-white" aria-hidden="true"></i>
                                <i class="fa fa-minus  arrow-hover text-white" aria-hidden="true"></i>
                              </span>
                            </span>
                  </a>
                  <ul class="sub-nav mega-menu-item collapse justify-content-center list-unstyled" id="homePages">
                    <li class="nav-item">
                      <a class="nav-link p-0 active" href="./index.html">
                        <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/mega-menu/new-home.webp" alt="img" class="img-fluid d-xl-block d-none">
                        <span class="d-inline-block ">OTT Home</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link p-0 " href="./home.html">
                        <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/mega-menu/home.webp" alt="img" class="img-fluid d-xl-block d-none">
                        <span class="d-inline-block ">Home</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link p-0 " href="./movie.html">
                        <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/mega-menu/movie.webp" alt="img" class="img-fluid d-xl-block d-none">
                        <span class="d-inline-block ">Movie</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link p-0 " href="./tv-show.html">
                        <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/mega-menu/tv-show.webp" alt="img" class="img-fluid d-xl-block d-none">
                        <span class="d-inline-block ">TV Show</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link p-0 " href="./video.html">
                        <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/mega-menu/video.webp" alt="img" class="img-fluid d-xl-block d-none">
                        <span class="d-inline-block ">Video</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link p-0 " href="./merchandise-store.html">
                        <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/mega-menu/shop-home.webp" alt="img" class="img-fluid d-xl-block d-none">
                        <span class="d-inline-block ">Merchandise Store</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-bs-toggle="collapse" href="#features" role="button" aria-expanded="false" aria-controls="homePages">
                    <span class="item-name">Features</span>
                    <span class="menu-icon">
                              <i class="fa fa-caret-down toggledrop-desktop right-icon" aria-hidden="true"></i>
                              <span class="toggle-menu">
                                <i class="fa fa-plus  arrow-active text-white" aria-hidden="true"></i>
                                <i class="fa fa-minus  arrow-hover text-white" aria-hidden="true"></i>
                              </span>
                            </span>
                  </a>
                  <ul class="sub-nav collapse  list-unstyled" id="features">
                    <li class="nav-item">
                      <a class="nav-link " href="./restricted-content.html"> Restricted Content </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="./related-merchandise.html"> Related Merchandise </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="./playlist.html"> Playlist </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="./geners.html"> Geners </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="./cast.html"> Cast </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="./tags.html"> Tags </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-bs-toggle="collapse" href="#pages" role="button" aria-expanded="false" aria-controls="homePages">
                    <span class="item-name">Pages</span>
                    <span class="menu-icon">
                              <i class="fa fa-caret-down toggledrop-desktop right-icon" aria-hidden="true"></i>
                              <span class="toggle-menu">
                                <i class="fa fa-plus  arrow-active text-white" aria-hidden="true"></i>
                                <i class="fa fa-minus  arrow-hover text-white" aria-hidden="true"></i>
                              </span>
                            </span>
                  </a>
                  <ul class="sub-nav collapse  list-unstyled" id="pages">
                    <li class="nav-item">
                      <a class="nav-link " href="./about-us.html"> About Us </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="./contact-us.html"> Contact Us </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="./faq.html"> FAQ </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="./privacy-policy.html"> Privacy Policy </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="./pricing-plan.html"> Pricing Plan </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="./coming-soon.html"> Coming Soon </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-bs-toggle="collapse" href="#error-page" role="button" aria-expanded="false" aria-controls="error-page">
                        <span class="item-name">Error Page</span>
                        <span class="menu-icon">
                                  <i class="fa fa-caret-right toggledrop-desktop right-icon" aria-hidden="true"></i>
                                  <span class="toggle-menu">
                                    <i class="fa fa-plus  arrow-active text-white" aria-hidden="true"></i>
                                    <i class="fa fa-minus  arrow-hover text-white" aria-hidden="true"></i>
                                  </span>
                                </span>
                      </a>
                      <ul class="sub-nav collapse  list-unstyled" id="error-page">
                        <li class="nav-item">
                          <a class="nav-link " href="./error-page-one.html"> Error Page 1 </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link " href="./error-page-two.html"> Error Page 2 </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-bs-toggle="collapse" href="#blog" role="button" aria-expanded="false" aria-controls="blog">
                    <span class="item-name">Blog</span>
                    <span class="menu-icon">
                              <i class="fa fa-caret-down toggledrop-desktop right-icon" aria-hidden="true"></i>
                              <span class="toggle-menu">
                                <i class="fa fa-plus  arrow-active text-white" aria-hidden="true"></i>
                                <i class="fa fa-minus  arrow-hover text-white" aria-hidden="true"></i>
                              </span>
                            </span>
                  </a>
                  <ul class="sub-nav collapse  list-unstyled" id="blog">
                    <li class="nav-item">
                      <a class="nav-link " href="./blog/blog-listing.html"> Listing </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-bs-toggle="collapse" href="#blog-grid" role="button" aria-expanded="false" aria-controls="blog-grid">
                        <span class="item-name">Blog Grid</span>
                        <span class="menu-icon">
                                  <i class="fa fa-caret-right toggledrop-desktop right-icon" aria-hidden="true"></i>
                                  <span class="toggle-menu">
                                    <i class="fa fa-plus  arrow-active text-white" aria-hidden="true"></i>
                                    <i class="fa fa-minus  arrow-hover text-white" aria-hidden="true"></i>
                                  </span>
                                </span>
                      </a>
                      <ul class="sub-nav collapse  list-unstyled" id="blog-grid">
                        <li class="nav-item">
                          <a class="nav-link " href="./blog/one-column.html"> 1 Column </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link " href="./blog/two-column.html"> 2 Column </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link " href="./blog/three-column.html"> 3 Column </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link " href="./blog/four-column.html"> 4 Column </a>
                        </li>
                      </ul>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-bs-toggle="collapse" href="#blog-sidebar" role="button" aria-expanded="false" aria-controls="blog-sidebar">
                        <span class="item-name">Blog Sidebar</span>
                        <span class="menu-icon">
                                  <i class="fa fa-caret-right toggledrop-desktop right-icon" aria-hidden="true"></i>
                                  <span class="toggle-menu">
                                    <i class="fa fa-plus  arrow-active text-white" aria-hidden="true"></i>
                                    <i class="fa fa-minus  arrow-hover text-white" aria-hidden="true"></i>
                                  </span>
                                </span>
                      </a>
                      <ul class="sub-nav collapse  list-unstyled" id="blog-sidebar">
                        <li class="nav-item">
                          <a class="nav-link " href="./blog/left-sidebar.html"> Left Sidebar </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link " href="./blog/right-sidebar.html"> Right Sidebar </a>
                        </li>
                      </ul>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-bs-toggle="collapse" href="#blog-single" role="button" aria-expanded="false" aria-controls="blog-single">
                        <span class="item-name">Blog Single</span>
                        <span class="menu-icon">
                                  <i class="fa fa-caret-right toggledrop-desktop right-icon" aria-hidden="true"></i>
                                  <span class="toggle-menu">
                                    <i class="fa fa-plus  arrow-active text-white" aria-hidden="true"></i>
                                    <i class="fa fa-minus  arrow-hover text-white" aria-hidden="true"></i>
                                  </span>
                                </span>
                      </a>
                      <ul class="sub-nav collapse  list-unstyled" id="blog-single">
                        <li class="nav-item">
                          <a class="nav-link " href="./blog/blog-template.html"> Blog Template </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link " href="./blog/blog-detail.html"> Standard </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link " href="./blog/blog-audio.html"> Audio </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link " href="./blog/blog-video.html"> Video </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link " href="./blog/blog-link.html"> Link </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link " href="./blog/blog-quote.html"> Quote </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link " href="./blog/blog-gallery.html"> Gallery </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-bs-toggle="collapse" href="#shop" role="button" aria-expanded="false" aria-controls="shop">
                    <span class="item-name">Shop</span>
                    <span class="menu-icon">
                              <i class="fa fa-caret-down toggledrop-desktop right-icon" aria-hidden="true"></i>
                              <span class="toggle-menu">
                                <i class="fa fa-plus  arrow-active text-white" aria-hidden="true"></i>
                                <i class="fa fa-minus  arrow-hover text-white" aria-hidden="true"></i>
                              </span>
                            </span>
                  </a>
                  <ul class="sub-nav collapse  list-unstyled" id="shop">
                    <li class="nav-item">
                      <a class="nav-link " href="./shop/shop.html"> Shop </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="./shop/my-account.html"> My Account Page </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="./shop/cart.html"> Cart Page </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="./shop/wishlist.html"> Wishlist Page </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="./shop/checkout.html"> Checkout Page </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="./shop/order-tracking.html"> Order Tracking </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <!-- container-fluid.// -->
          </nav>
          <div class="right-panel">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-btn">
                           <span class="navbar-toggler-icon"></span>
                        </span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav align-items-center ms-auto mb-2 mb-xl-0">
              <li class="nav-item dropdown iq-responsive-menu">
                <div class="search-box">
                  <a href="#" class="nav-link p-0" id="search-drop" data-bs-toggle="dropdown">
                    <div class="btn-icon btn-sm rounded-pill btn-action">
                                       <span class="btn-inner">
                                          <svg class="icon-20" width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                             <circle cx="11.7669" cy="11.7666" r="8.98856" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                             </circle>
                                             <path d="M18.0186 18.4851L21.5426 22" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                             </path>
                                          </svg>
                                       </span>
                    </div>
                  </a>
                  <ul class="dropdown-menu p-0 dropdown-search m-0 iq-search-bar" style="width: 20rem;">
                    <li class="p-0">
                      <form method="get" action="<%= films_path %>">
                      <div class="form-group input-group mb-0">
                        <input type="text" name="title" class="form-control border-0" placeholder="Search...">
                        <button type="submit" class="search-submit">
                          <svg class="icon-15" width="15" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="11.7669" cy="11.7666" r="8.98856" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                            </circle>
                            <path d="M18.0186 18.4851L21.5426 22" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                          </svg>
                        </button>
                      </div>
                      </form>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item dropdown" id="itemdropdown1">
                <a class="nav-link d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <div class="btn-icon rounded-pill user-icons">
                                    <span class="btn-inner">
                                       <svg class="icon-18" width="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path fill-rule="evenodd" clip-rule="evenodd" d="M9.87651 15.2063C6.03251 15.2063 2.74951 15.7873 2.74951 18.1153C2.74951 20.4433 6.01251 21.0453 9.87651 21.0453C13.7215 21.0453 17.0035 20.4633 17.0035 18.1363C17.0035 15.8093 13.7415 15.2063 9.87651 15.2063Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                          <path fill-rule="evenodd" clip-rule="evenodd" d="M9.8766 11.886C12.3996 11.886 14.4446 9.841 14.4446 7.318C14.4446 4.795 12.3996 2.75 9.8766 2.75C7.3546 2.75 5.3096 4.795 5.3096 7.318C5.3006 9.832 7.3306 11.877 9.8456 11.886H9.8766Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                          <path d="M19.2036 8.66919V12.6792" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                          <path d="M21.2497 10.6741H17.1597" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                       </svg>
                                    </span>
                  </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-user border-0 p-0 m-0" aria-labelledby="navbarDropdown">
                  <li class="user-info d-flex align-items-center gap-3 mb-3">
                    <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/user/user1.webp" class="img-fluid" alt="" loading="lazy">
                    <span class="font-size-14 fw-500 text-capitalize text-white">Jenny</span>
                  </li>
                  <li>
                    <a href="./playlist.html" class="iq-sub-card d-flex align-items-center gap-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 22" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.84455 20.6621C4.15273 20.6621 1 20.0876 1 17.7868C1 15.486 4.13273 13.3621 7.84455 13.3621C11.5364 13.3621 14.6891 15.4654 14.6891 17.7662C14.6891 20.066 11.5564 20.6621 7.84455 20.6621Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.83725 10.1738C10.26 10.1738 12.2236 8.21015 12.2236 5.78742C12.2236 3.36469 10.26 1.40015 7.83725 1.40015C5.41452 1.40015 3.44998 3.36469 3.44998 5.78742C3.4418 8.20196 5.3918 10.1656 7.80634 10.1738C7.81725 10.1738 7.82725 10.1738 7.83725 10.1738Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                      <h6 class="mb-0 font-size-14 fw-normal">My Account</h6>
                    </a>
                  </li>
                  <li>
                    <a href="./playlist.html" class="iq-sub-card d-flex align-items-center gap-3">
                      <svg width="16" height="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="m0 0h24v24h-24z" fill="#fff" opacity="0" transform="matrix(-1 0 0 -1 24 24)"></path>
                        <path d="m19 11h-6v-6a1 1 0 0 0 -2 0v6h-6a1 1 0 0 0 0 2h6v6a1 1 0 0 0 2 0v-6h6a1 1 0 0 0 0-2z" fill="currentColor"></path>
                      </svg>
                      <h6 class="mb-0 font-size-14 fw-normal">Watchlist</h6>
                    </a>
                  </li>
                  <li>
                    <a href="./pricing-plan.html" class="iq-sub-card d-flex align-items-center gap-3">
                      <svg width="16" height="16" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.58737 8.23597L11.1849 3.00376C11.5183 2.33208 12.4817 2.33208 12.8151 3.00376L15.4126 8.23597L21.2215 9.08017C21.9668 9.18848 22.2638 10.0994 21.7243 10.6219L17.5217 14.6918L18.5135 20.4414C18.6409 21.1798 17.8614 21.7428 17.1945 21.3941L12 18.678L6.80547 21.3941C6.1386 21.7428 5.35909 21.1798 5.48645 20.4414L6.47825 14.6918L2.27575 10.6219C1.73617 10.0994 2.03322 9.18848 2.77852 9.08017L8.58737 8.23597Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                      <h6 class="mb-0 font-size-14 fw-normal">Subscription</h6>
                    </a>
                  </li>
                  <li>
                    <a href="./login.html" class="iq-sub-card iq-logout-2 mt-1 d-flex justify-content-center gap-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M1.82209 15.9999C1.46654 15.9999 1.16283 15.874 0.910981 15.6221C0.659129 15.3703 0.533203 15.0666 0.533203 14.711V1.73322C0.533203 1.37767 0.659129 1.07397 0.910981 0.822114C1.16283 0.570262 1.46654 0.444336 1.82209 0.444336H7.95543V1.44434H1.82209C1.74802 1.44434 1.68135 1.47397 1.62209 1.53322C1.56283 1.59248 1.5332 1.65915 1.5332 1.73322V14.711C1.5332 14.7851 1.56283 14.8517 1.62209 14.911C1.68135 14.9703 1.74802 14.9999 1.82209 14.9999H7.95543V15.9999H1.82209ZM12.0888 11.5999L11.3554 10.8888L13.5332 8.73322H5.68876V7.711H13.511L11.3332 5.55545L12.0665 4.82211L15.4665 8.24434L12.0888 11.5999Z" fill="currentColor"></path>
                      </svg>
                      <h6 class="mb-0 font-size-14 fw-normal">Logout</h6>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        </div>
      </div>
    </nav>
  </header>      <!--Nav End-->

  <!--bread-crumb-->
  <!--bread-crumb-->


  <div class="iq-banner-thumb-slider">
    <div class="slider">
      <div class="position-relative slider-bg d-flex justify-content-end">
        <div class="position-relative my-auto">
          <div class="horizontal_thumb_slider" data-swiper="slider-thumbs-ott">
            <div class="banner-thumb-slider-nav">
              <div class="swiper-container swiper-initialized swiper-horizontal swiper-pointer-events" data-swiper="slider-thumbs-inner-ott">
                <div class="swiper-wrapper" id="swiper-wrapper-413655280b45ad56" aria-live="off" style="transform: translate3d(-1492.5px, 0px, 0px); transition-duration: 0ms;">
                  <%# @top_rated_films.each do |film| %>
<!--                    <div class="swiper-slide swiper-bg" data-swiper-slide-index="0" role="group" aria-label="1 / 3" style="width: 274.5px; margin-right: 24px;">-->
<!--                      <div class="block-images position-relative ">-->
<!--                        <div class="img-box">-->
                          <%#= image_tag("placeholder.png", class: "img-fluid", loading: "lazy") %>
<!--                          <div class="block-description">-->
<!--                            <h6 class="iq-title fw-500 mb-0"><%#= film.title%></h6>-->
<!--                            <span class="fs-12"><%#= film.duration %> minutes</span>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
                  <%# end %>
                  <!--from template-->
                  <div class="swiper-slide swiper-bg swiper-slide-duplicate-next" data-swiper-slide-index="0" role="group" aria-label="1 / 3" style="width: 274.5px; margin-right: 24px;">
                    <div class="block-images position-relative ">
                      <div class="img-box">
                        <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/movies/ott1.webp" class="img-fluid" alt="" loading="lazy">
                        <div class="block-description">
                          <h6 class="iq-title fw-500 mb-0">The Hunter</h6>
                          <span class="fs-12">2hr 6 minute</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide swiper-bg swiper-slide-prev" data-swiper-slide-index="1" role="group" aria-label="2 / 3" style="width: 274.5px; margin-right: 24px;">
                    <div class="block-images position-relative ">
                      <div class="img-box">
                        <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/movies/ott2.webp" class="img-fluid" alt="" loading="lazy">
                        <div class="block-description">
                          <h6 class="iq-title fw-500 mb-0">The Mandalorian</h6>
                          <span class="fs-12">2hr 14 minute</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide swiper-bg swiper-slide-active" data-swiper-slide-index="2" role="group" aria-label="3 / 3" style="width: 274.5px; margin-right: 24px;">
                    <div class="block-images position-relative ">
                      <div class="img-box">
                        <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/movies/ott3.webp" class="img-fluid" alt="" loading="lazy">
                        <div class="block-description">
                          <h6 class="iq-title fw-500 mb-0">Better call saul</h6>
                          <span class="fs-12">2hr 55 minute</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--from template-->
                  </div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
              <div class="slider-prev swiper-button" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-413655280b45ad56">
                <i class="iconly-Arrow-Left-2 icli"></i>
              </div>
              <div class="slider-next swiper-button" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-413655280b45ad56">
                <i class="iconly-Arrow-Right-2 icli"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="slider-images" data-swiper="slider-images-ott">
          <div class="swiper-container swiper-fade swiper-initialized swiper-horizontal swiper-pointer-events" data-swiper="slider-images-inner-ott">
            <div class="swiper-wrapper m-0" id="swiper-wrapper-ac0dcb914ea1f599" aria-live="polite" style="transition-duration: 0ms;">
              <%# @top_rated_films.each do |film| %>
<!--                <div class="swiper-slide p-0" role="group" style="width: 958px; opacity: 1; transform: translate3d(-2874px, 0px, 0px); transition-duration: 0ms;">-->
<!--                  <div class="slider--image block-images">-->
                    <%# if film.title == "film4" %>
                      <%#= image_tag("placeholder.png", loading: "lazy") %>
                    <%# else %>
                      <%#= image_tag("placeholder_1.png", loading: "lazy") %>
                    <%# end %>
<!--                  </div>-->
<!--                  <div class="description">-->
<!--                    <div class="row align-items-center h-100">-->
<!--                      <div class="col-lg-6 col-md-12">-->
<!--                        <div class="slider-content">-->
<!--                          <div class="d-flex align-items-center RightAnimate mb-3">-->
<!--                            <span class="badge rounded-0 text-dark text-uppercase px-3 py-2 me-3 bg-white mr-3"><%#= film.maturity_rating.title %></span>-->
<!--                            <ul class="p-0 mb-0 list-inline d-flex flex-wrap align-items-center movie-tag">-->
                              <%# film.genres.each do |genre| %>
<!--                                <li class="position-relative text-capitalize font-size-14 letter-spacing-1">-->
                                  <%#= link_to genre.title, genre_path(genre), class: "text-decoration-none" %>
<!--                                </li>-->
                              <%# end %>
<!--                            </ul>-->
<!--                          </div>-->
<!--                          <h1 class="texture-text big-font letter-spacing-1 line-count-1 text-capitalize RightAnimate-two">-->
<!--                            <%#= film.title %> </h1>-->
<!--                          <p class="line-count-3 RightAnimate-two"><%#= film.description %>.</p>-->
<!--                          <div class="d-flex flex-wrap align-items-center gap-3 RightAnimate-three">-->
<!--                            <div class="slider-ratting d-flex align-items-center">-->
<!--                              <ul class="ratting-start p-0 m-0 list-inline text-warning d-flex align-items-center justify-content-left">-->
<!--                                <li>-->
<!--                                  <i class="fa fa-star" aria-hidden="true"></i>-->
<!--                                </li>-->
<!--                              </ul>-->
<!--                            </div>-->
<!--                            <span class="font-size-14 fw-500"><%#= film.duration %> minutes</span>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="RightAnimate-four">-->
<!--                          <div class="iq-button">-->
                            <%#= link_to "Stream now", film_path(film), class: "btn text-uppercase position-relative button-text"%>
<!--                            <i class="fa-solid fa-play"></i>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
              <%# end %>
              <!--from template-->
              <div class="swiper-slide p-0 swiper-slide-duplicate-next" data-swiper-slide-index="0" role="group" aria-label="1 / 3" style="width: 958px; opacity: 1; transform: translate3d(-2874px, 0px, 0px); transition-duration: 0ms;">
                <div class="slider--image block-images">
                  <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/movies/ott1.webp" loading="lazy" alt="banner">
                </div>
                <div class="description">
                  <div class="row align-items-center h-100">
                    <div class="col-lg-6 col-md-12">
                      <div class="slider-content">
                        <div class="d-flex align-items-center RightAnimate mb-3">
                          <span class="badge rounded-0 text-dark text-uppercase px-3 py-2 me-3 bg-white mr-3">Pg</span>
                          <ul class="p-0 mb-0 list-inline d-flex flex-wrap align-items-center movie-tag">
                            <li class="position-relative text-capitalize font-size-14 letter-spacing-1">
                              <a href="view-all-movie.html" class="text-decoration-none">Adventure</a>
                            </li>
                            <li class="position-relative text-capitalize font-size-14 letter-spacing-1">
                              <a href="view-all-movie.html" class="text-decoration-none">Thriller</a>
                            </li>
                            <li class="position-relative text-capitalize font-size-14 letter-spacing-1">
                              <a href="view-all-movie.html" class="text-decoration-none">Drama</a>
                            </li>
                          </ul>
                        </div>
                        <h1 class="texture-text big-font letter-spacing-1 line-count-1 text-capitalize RightAnimate-two">
                          The Hunter </h1>
                        <p class="line-count-3 RightAnimate-two">After the death of their father, two siblings
                          fight for the throne, thereby causing a civil war known as the Dance of the Dragons.
                          Rhaenyra tries to hold the realm together as the tension rises following a tragic
                          loss. Meanwhile, Daemon prepares for war.</p>
                        <div class="d-flex flex-wrap align-items-center gap-3 RightAnimate-three">
                          <div class="slider-ratting d-flex align-items-center">
                            <ul class="ratting-start p-0 m-0 list-inline text-warning d-flex align-items-center justify-content-left">
                              <li>
                                <i class="fa fa-star" aria-hidden="true"></i>
                              </li>
                            </ul>
                            <span class="text-white ms-2 font-size-14 fw-500">4.3/5</span>
                            <span class="ms-2">
                                          <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/movies/imdb-logo.svg" alt="imdb logo" class="img-fluid">
                                       </span>
                          </div>
                          <span class="font-size-14 fw-500">2hr 6mins</span>
                          <div class="text-primary font-size-14 fw-500 text-capitalize">genres <a href="view-all-movie.html" class="text-decoration-none ms-1">Drama</a>
                          </div>
                          <div class="text-primary font-size-14 fw-500 text-capitalize">Starting <a href="person-detail.html" class="text-decoration-none ms-1">Jeffrey Silver</a>
                          </div>
                        </div>
                      </div>
                      <div class="RightAnimate-four">
                        <div class="iq-button">
                          <a href="movie-detail.html" class="btn text-uppercase position-relative">
                            <span class="button-text">stream now</span>
                            <i class="fa-solid fa-play"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide p-0 swiper-slide-prev" data-swiper-slide-index="1" role="group" aria-label="2 / 3" style="width: 958px; opacity: 1; transform: translate3d(-3832px, 0px, 0px); transition-duration: 0ms;">
                <div class="slider--image block-images">
                  <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/movies/ott2.webp" loading="lazy" alt="">
                </div>
                <div class="description">
                  <div class="row align-items-center h-100">
                    <div class="col-lg-6 col-md-12">
                      <div class="slider-content">
                        <div class="d-flex align-items-center RightAnimate mb-3">
                          <span class="badge rounded-0 text-dark text-uppercase px-3 py-2 me-3 bg-white mr-3">NC-17</span>
                          <ul class="p-0 mb-0 list-inline d-flex flex-wrap align-items-center movie-tag">
                            <li class="position-relative text-capitalize font-size-14 letter-spacing-1">
                              <a href="view-all-movie.html" class="text-decoration-none">Animation</a>
                            </li>
                            <li class="position-relative text-capitalize font-size-14 letter-spacing-1">
                              <a href="view-all-movie.html" class="text-decoration-none">Sci-Fi</a>
                            </li>
                            <li class="position-relative text-capitalize font-size-14 letter-spacing-1">
                              <a href="view-all-movie.html" class="text-decoration-none">Action</a>
                            </li>
                          </ul>
                        </div>
                        <h1 class="texture-text big-font letter-spacing-1 line-count-1 text-capitalize RightAnimate-two">
                          The Mandalorian </h1>
                        <p class="line-count-3 RightAnimate-two">After the fall of the Galactic Empire, a lone
                          gunfighter makes his way through the outer reaches of the lawless galaxy he show
                          follows the adventures of a lone Mandalorian bounty hunter, Din Djarin, as he
                          navigates the outer reaches of the galaxy, far from the authority of the New
                          Republic.</p>
                        <div class="d-flex flex-wrap align-items-center gap-3 RightAnimate-three">
                          <div class="slider-ratting d-flex align-items-center">
                            <ul class="ratting-start p-0 m-0 list-inline text-warning d-flex align-items-center justify-content-left">
                              <li>
                                <i class="fa fa-star" aria-hidden="true"></i>
                              </li>
                            </ul>
                            <span class="text-white ms-2 font-size-14 fw-500">4.3/5</span>
                          </div>
                          <span class="font-size-14 fw-500">2hr 14mins</span>
                          <div class="text-primary font-size-14 fw-500 text-capitalize">genres <a href="view-all-movie.html" class="text-decoration-none ms-1">Sci-Fi</a>
                          </div>
                          <div class="text-primary font-size-14 fw-500 text-capitalize">Starting
                            <a href="person-detail.html" class="text-decoration-none ms-1">James Chinlund</a>
                          </div>
                        </div>
                      </div>
                      <div class="RightAnimate-four">
                        <div class="iq-button">
                          <a href="movie-detail.html" class="btn text-uppercase position-relative">
                            <span class="button-text">stream now</span>
                            <i class="fa-solid fa-play"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide p-0 swiper-slide-visible swiper-slide-active" data-swiper-slide-index="2" role="group" aria-label="3 / 3" style="width: 958px; opacity: 1; transform: translate3d(-4790px, 0px, 0px); transition-duration: 0ms;">
                <div class="slider--image block-images">
                  <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/movies/ott3.webp" loading="lazy" alt="">
                </div>
                <div class="description">
                  <div class="row align-items-center h-100">
                    <div class="col-lg-6 col-md-12">
                      <div class="slider-content">
                        <div class="d-flex align-items-center RightAnimate mb-3">
                          <span class="badge rounded-0 text-dark text-uppercase px-3 py-2 me-3 bg-white mr-3">G</span>
                          <ul class="p-0 mb-0 list-inline d-flex flex-wrap align-items-center movie-tag">
                            <li class="position-relative text-capitalize font-size-14 letter-spacing-1">
                              <a href="view-all-movie.html" class="text-decoration-none">History</a>
                            </li>
                            <li class="position-relative text-capitalize font-size-14 letter-spacing-1">
                              <a href="view-all-movie.html" class="text-decoration-none">Action</a>
                            </li>
                          </ul>
                        </div>
                        <h1 class="texture-text big-font letter-spacing-1 line-count-1 text-capitalize RightAnimate-two">
                          Better call saul </h1>
                        <p class="line-count-3 RightAnimate-two">Ex-con artist Jimmy McGill turns into a
                          small-time attorney and goes through a series of trials and tragedies, as he
                          transforms into his alter ego Saul Goodman, a morally challenged criminal lawyer.
                        </p>
                        <div class="d-flex flex-wrap align-items-center gap-3 RightAnimate-three">
                          <div class="slider-ratting d-flex align-items-center">
                            <ul class="ratting-start p-0 m-0 list-inline text-warning d-flex align-items-center justify-content-left">
                              <li>
                                <i class="fa fa-star" aria-hidden="true"></i>
                              </li>
                            </ul>
                          </div>
                          <span class="font-size-14 fw-500">2hr 55mins</span>
                          <div class="text-primary font-size-14 fw-500 text-capitalize">genres <a href="view-all-movie.html" class="text-decoration-none ms-1">horror</a>
                          </div>
                          <div class="text-primary font-size-14 fw-500 text-capitalize">Starting <a href="#" class="text-decoration-none ms-1">Brenda Chapman</a>
                            <span class="text-body">,</span>
                            <a href="person-detail.html" class="text-decoration-none ms-1">Caleb
                              Deschannelr</a>
                          </div>
                        </div>
                      </div>
                      <div class="RightAnimate-four">
                        <div class="iq-button">
                          <a href="movie-detail.html" class="btn text-uppercase position-relative">
                            <span class="button-text">stream now</span>
                            <i class="fa-solid fa-play"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--from template-->
              </div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
        </div>
      </div>
    </div>
  </div>

  <div class="top-ten-block">
    <div class="container-fluid">
      <section class="overflow-hidden">
        <div class="d-flex align-items-center justify-content-between px-md-3 px-1 mb-4">
          <h5 class="main-title text-capitalize mb-0 mt-3">top ten movies to watch</h5>
          <a href="view-all-movie.html" class="text-primary iq-view-all text-decoration-none flex-none">View All</a>
        </div>
        <div class="position-relative swiper swiper-card iq-top-ten-block-slider swiper-initialized swiper-horizontal swiper-pointer-events" data-slide="6" data-laptop="6" data-tab="3" data-mobile="2" data-mobile-sm="2" data-autoplay="false" data-loop="false" data-navigation="true" data-pagination="true">
          <ul class="p-0 swiper-wrapper mb-5 list-inline" id="swiper-wrapper-89f6aa5889fa2af7" aria-live="polite" style="transform: translate3d(0px, 0px, 0px);">
            <%# @top_ten.each_with_index do |film, index|%>
<!--              <li class="swiper-slide" role="group" style="width: 318.667px;">-->
<!--                <div class="iq-top-ten-block">-->
<!--                  <div class="block-image position-relative">-->
<!--                    <div class="img-box">-->
                      <%#= link_to image_tag("placeholder_1.png"), film_path(film), class: "overly-images img-fluid object-cover" %>
<!--                      <span class="top-ten-numbers texture-text"><%#= index+1 %></span>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </li>-->
            <%# end %>
            <!--from template-->
            <li class="swiper-slide swiper-active swiper-slide-active" role="group" aria-label="1 / 10" style="width: 318.667px;">
              <div class="iq-top-ten-block">
                <div class="block-image position-relative">
                  <div class="img-box">
                    <a class="overly-images" href="./movie-detail.html">
                      <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/top-ten-number/01.webp" alt="movie-card" class="img-fluid object-cover">
                    </a>
                    <span class="top-ten-numbers texture-text">1</span>
                  </div>
                </div>
              </div>
            </li>
            <li class="swiper-slide swiper-active swiper-slide-next" role="group" aria-label="2 / 10" style="width: 318.667px;">
              <div class="iq-top-ten-block">
                <div class="block-image position-relative">
                  <div class="img-box">
                    <a class="overly-images" href="./movie-detail.html">
                      <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/top-ten-number/02.webp" alt="movie-card" class="img-fluid object-cover">
                    </a>
                    <span class="top-ten-numbers texture-text">2</span>
                  </div>
                </div>
              </div>
            </li>
            <li class="swiper-slide swiper-active" role="group" aria-label="3 / 10" style="width: 318.667px;">
              <div class="iq-top-ten-block">
                <div class="block-image position-relative">
                  <div class="img-box">
                    <a class="overly-images" href="./movie-detail.html">
                      <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/top-ten-number/03.webp" alt="movie-card" class="img-fluid object-cover">
                    </a>
                    <span class="top-ten-numbers texture-text">3</span>
                  </div>
                </div>
              </div>
            </li>
            <li class="swiper-slide swiper-active" role="group" aria-label="4 / 10" style="width: 318.667px;">
              <div class="iq-top-ten-block">
                <div class="block-image position-relative">
                  <div class="img-box">
                    <a class="overly-images" href="./movie-detail.html">
                      <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/top-ten-number/04.webp" alt="movie-card" class="img-fluid object-cover">
                    </a>
                    <span class="top-ten-numbers texture-text">4</span>
                  </div>
                </div>
              </div>
            </li>
            <!--from template-->
            <li class="swiper-slide swiper-active last" role="group" aria-label="5 / 10" style="width: 318.667px;">
              <div class="iq-top-ten-block">
                <div class="block-image position-relative">
                  <div class="img-box">
                    <a class="overly-images" href="./movie-detail.html">
                      <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/top-ten-number/05.webp" alt="movie-card" class="img-fluid object-cover">
                    </a>
                    <span class="top-ten-numbers texture-text">5</span>
                  </div>
                </div>
              </div>
            </li>
            <li class="swiper-slide" role="group" aria-label="6 / 10" style="width: 318.667px;">
              <div class="iq-top-ten-block">
                <div class="block-image position-relative">
                  <div class="img-box">
                    <a class="overly-images" href="./movie-detail.html">
                      <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/top-ten-number/06.webp" alt="movie-card" class="img-fluid object-cover">
                    </a>
                    <span class="top-ten-numbers texture-text">6</span>
                  </div>
                </div>
              </div>
            </li>
            <li class="swiper-slide" role="group" aria-label="7 / 10" style="width: 318.667px;">
              <div class="iq-top-ten-block">
                <div class="block-image position-relative">
                  <div class="img-box">
                    <a class="overly-images" href="./movie-detail.html">
                      <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/top-ten-number/07.webp" alt="movie-card" class="img-fluid object-cover">
                    </a>
                    <span class="top-ten-numbers texture-text">7</span>
                  </div>
                </div>
              </div>
            </li>
            <li class="swiper-slide" role="group" aria-label="8 / 10" style="width: 318.667px;">
              <div class="iq-top-ten-block">
                <div class="block-image position-relative">
                  <div class="img-box">
                    <a class="overly-images" href="./movie-detail.html">
                      <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/top-ten-number/08.webp" alt="movie-card" class="img-fluid object-cover">
                    </a>
                    <span class="top-ten-numbers texture-text">8</span>
                  </div>
                </div>
              </div>
            </li>
            <li class="swiper-slide" role="group" aria-label="9 / 10" style="width: 318.667px;">
              <div class="iq-top-ten-block">
                <div class="block-image position-relative">
                  <div class="img-box">
                    <a class="overly-images" href="./movie-detail.html">
                      <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/top-ten-number/09.webp" alt="movie-card" class="img-fluid object-cover">
                    </a>
                    <span class="top-ten-numbers texture-text">9</span>
                  </div>
                </div>
              </div>
            </li>
            <li class="swiper-slide" role="group" aria-label="10 / 10" style="width: 318.667px;">
              <div class="iq-top-ten-block">
                <div class="block-image position-relative">
                  <div class="img-box">
                    <a class="overly-images" href="./movie-detail.html">
                      <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/top-ten-number/10.webp" alt="movie-card" class="img-fluid object-cover">
                    </a>
                    <span class="top-ten-numbers texture-text">10</span>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <div class="swiper-button swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-89f6aa5889fa2af7" aria-disabled="false"></div>
          <div class="swiper-button swiper-button-prev swiper-button-disabled" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-89f6aa5889fa2af7" aria-disabled="true"></div>
          <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
      </section>
    </div>
  </div>

  <div class="favourite-person-block">
    <div class="container-fluid">
      <section class="overflow-hidden">
        <div class="d-flex align-items-center justify-content-between px-md-3 px-1 my-4">
          <h5 class="main-title text-capitalize mb-0">your favourite cast</h5>
          <a href="all-personality.html" class="text-primary iq-view-all text-decoration-none">View All</a>
        </div>
        <div class="position-relative swiper swiper-card swiper-initialized swiper-horizontal swiper-pointer-events" data-slide="11" data-laptop="11" data-tab="4" data-mobile="2" data-mobile-sm="2" data-autoplay="false" data-loop="true" data-navigation="true" data-pagination="true">
          <ul class="p-0 swiper-wrapper m-0  list-inline personality-card" id="swiper-wrapper-28b198b47109ea816" aria-live="polite" style="transform: translate3d(-926px, 0px, 0px); transition-duration: 0ms;">
            <li class="swiper-slide swiper-active swiper-slide-active" role="group" aria-label="1 / 12" style="width: 231.5px;" data-swiper-slide-index="0">
              <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/cast/01.webp" alt="personality" class="img-fluid object-cover mb-4 rounded">
              <div class="text-center">
                <h6 class="mb-0">
                  <a href="person-detail.html" class="font-size-14 text-decoration-none cast-title text-capitalize">john Abraham</a>
                </h6>
                <a href="cast-category.html" class="font-size-14 text-decoration-none text-capitalize text-body">actor</a>
              </div>               </li>
            <li class="swiper-slide swiper-active swiper-slide-next" role="group" aria-label="2 / 12" style="width: 231.5px;" data-swiper-slide-index="1">
              <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/cast/02.webp" alt="personality" class="img-fluid object-cover mb-4 rounded">
              <div class="text-center">
                <h6 class="mb-0">
                  <a href="person-detail.html" class="font-size-14 text-decoration-none cast-title text-capitalize">Leena burton</a>
                </h6>
                <a href="cast-category.html" class="font-size-14 text-decoration-none text-capitalize text-body">actress</a>
              </div>               </li>
            <li class="swiper-slide swiper-active" role="group" aria-label="3 / 12" style="width: 231.5px;" data-swiper-slide-index="2">
              <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/cast/03.webp" alt="personality" class="img-fluid object-cover mb-4 rounded">
              <div class="text-center">
                <h6 class="mb-0">
                  <a href="person-detail.html" class="font-size-14 text-decoration-none cast-title text-capitalize">Lorina williams </a>
                </h6>
                <a href="cast-category.html" class="font-size-14 text-decoration-none text-capitalize text-body">actress</a>
              </div>               </li>
            <li class="swiper-slide swiper-active last" role="group" aria-label="4 / 12" style="width: 231.5px;" data-swiper-slide-index="3">
              <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/cast/04.webp" alt="personality" class="img-fluid object-cover mb-4 rounded">
              <div class="text-center">
                <h6 class="mb-0">
                  <a href="person-detail.html" class="font-size-14 text-decoration-none cast-title text-capitalize">Davina decorous</a>
                </h6>
                <a href="cast-category.html" class="font-size-14 text-decoration-none text-capitalize text-body">actress</a>
              </div>               </li>
            <li class="swiper-slide" role="group" aria-label="5 / 12" style="width: 231.5px;" data-swiper-slide-index="4">
              <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/cast/05.webp" alt="personality" class="img-fluid object-cover mb-4 rounded">
              <div class="text-center">
                <h6 class="mb-0">
                  <a href="person-detail.html" class="font-size-14 text-decoration-none cast-title text-capitalize">Thomas bailey</a>
                </h6>
                <a href="cast-category.html" class="font-size-14 text-decoration-none text-capitalize text-body">producer</a>
              </div>               </li>
            <li class="swiper-slide" role="group" aria-label="6 / 12" style="width: 231.5px;" data-swiper-slide-index="5">
              <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/cast/06.webp" alt="personality" class="img-fluid object-cover mb-4 rounded">
              <div class="text-center">
                <h6 class="mb-0">
                  <a href="person-detail.html" class="font-size-14 text-decoration-none cast-title text-capitalize">Kelly Reilly</a>
                </h6>
                <a href="cast-category.html" class="font-size-14 text-decoration-none text-capitalize text-body">actress</a>
              </div>               </li>
            <li class="swiper-slide" role="group" aria-label="7 / 12" style="width: 231.5px;" data-swiper-slide-index="6">
              <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/cast/07.webp" alt="personality" class="img-fluid object-cover mb-4 rounded">
              <div class="text-center">
                <h6 class="mb-0">
                  <a href="person-detail.html" class="font-size-14 text-decoration-none cast-title text-capitalize">smith Jonas</a>
                </h6>
                <a href="cast-category.html" class="font-size-14 text-decoration-none text-capitalize text-body">director</a>
              </div>               </li>
            <li class="swiper-slide" role="group" aria-label="8 / 12" style="width: 231.5px;" data-swiper-slide-index="7">
              <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/cast/08.webp" alt="personality" class="img-fluid object-cover mb-4 rounded">
              <div class="text-center">
                <h6 class="mb-0">
                  <a href="person-detail.html" class="font-size-14 text-decoration-none cast-title text-capitalize">angel louis</a>
                </h6>
                <a href="cast-category.html" class="font-size-14 text-decoration-none text-capitalize text-body">producer</a>
              </div>               </li>
            <li class="swiper-slide" role="group" aria-label="9 / 12" style="width: 231.5px;" data-swiper-slide-index="8">
              <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/cast/09.webp" alt="personality" class="img-fluid object-cover mb-4 rounded">
              <div class="text-center">
                <h6 class="mb-0">
                  <a href="person-detail.html" class="font-size-14 text-decoration-none cast-title text-capitalize">Millar joseph</a>
                </h6>
                <a href="cast-category.html" class="font-size-14 text-decoration-none text-capitalize text-body">actor</a>
              </div>               </li>
            <li class="swiper-slide" role="group" aria-label="10 / 12" style="width: 231.5px;" data-swiper-slide-index="9">
              <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/cast/10.webp" alt="personality" class="img-fluid object-cover mb-4 rounded">
              <div class="text-center">
                <h6 class="mb-0">
                  <a href="person-detail.html" class="font-size-14 text-decoration-none cast-title text-capitalize">mark wilson</a>
                </h6>
                <a href="cast-category.html" class="font-size-14 text-decoration-none text-capitalize text-body">actor</a>
              </div>               </li>
            <li class="swiper-slide" role="group" aria-label="11 / 12" style="width: 231.5px;" data-swiper-slide-index="10">
              <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/cast/11.webp" alt="personality" class="img-fluid object-cover mb-4 rounded">
              <div class="text-center">
                <h6 class="mb-0">
                  <a href="person-detail.html" class="font-size-14 text-decoration-none cast-title text-capitalize">Kelley walker</a>
                </h6>
                <a href="cast-category.html" class="font-size-14 text-decoration-none text-capitalize text-body">director</a>
              </div>               </li>
            <li class="swiper-slide swiper-slide-duplicate-prev" role="group" aria-label="12 / 12" style="width: 231.5px;" data-swiper-slide-index="11">
              <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/cast/12.webp" alt="personality" class="img-fluid object-cover mb-4 rounded">
              <div class="text-center">
                <h6 class="mb-0">
                  <a href="person-detail.html" class="font-size-14 text-decoration-none cast-title text-capitalize">Amy Sedaris</a>
                </h6>
                <a href="cast-category.html" class="font-size-14 text-decoration-none text-capitalize text-body">actress</a>
              </div>
            </li>
          </ul>
          <div class="swiper-button swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-28b198b47109ea816"></div>
          <div class="swiper-button swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-28b198b47109ea816"></div>
          <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
      </section>
    </div>
  </div>

  <div class="favourite-person-block">
    <div class="container-fluid">
      <section class="overflow-hidden">
        <div class="d-flex align-items-center justify-content-between px-md-3 px-1 my-4">
          <h5 class="main-title text-capitalize mb-0">MyTest</h5>
          <a href="all-personality.html" class="text-primary iq-view-all text-decoration-none">View All</a>
        </div>
        <div class="position-relative swiper swiper-card swiper-initialized swiper-horizontal swiper-pointer-events" data-slide="5" data-laptop="4" data-tab="4" data-mobile="2" data-mobile-sm="2" data-autoplay="false" data-loop="true" data-navigation="true" data-pagination="true">
          <ul class="p-0 swiper-wrapper m-0  list-inline personality-card" id="swiper-wrapper-28b198b47109ea816" aria-live="polite" style="transform: translate3d(-926px, 0px, 0px); transition-duration: 0ms;">
            <% @casts.each do |cast|%>
              <li class="swiper-slide swiper-active swiper-slide-active" role="group" style="width: 231.5px;">
              <%= image_tag("placeholder.png", class: 'img-fit object-cover mb-4 rounded') %>
              <div class="text-center">
                <h6 class="mb-0">
                  <%= link_to cast.last_name, cast_path(cast), class: "font-size-14 text-decoration-none cast-title text-capitalize" %>
                </h6>
                <%= link_to cast.role.title, cast_path(cast), class: "font-size-14 text-decoration-none text-capitalize text-body" %>
              </div>
              </li>
            <% end %>
            <li class="swiper-slide swiper-active swiper-slide-active" role="group" aria-label="1 / 12" style="width: 231.5px;" data-swiper-slide-index="0">
              <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/cast/01.webp" alt="personality" class="img-fluid object-cover mb-4 rounded">
              <div class="text-center">
                <h6 class="mb-0">
                  <a href="person-detail.html" class="font-size-14 text-decoration-none cast-title text-capitalize">john Abraham</a>
                </h6>
                <a href="cast-category.html" class="font-size-14 text-decoration-none text-capitalize text-body">actor</a>
              </div>
            </li>
            <li class="swiper-slide swiper-active swiper-slide-next" role="group" aria-label="2 / 12" style="width: 231.5px;" data-swiper-slide-index="1">
              <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/cast/02.webp" alt="personality" class="img-fluid object-cover mb-4 rounded">
              <div class="text-center">
                <h6 class="mb-0">
                  <a href="person-detail.html" class="font-size-14 text-decoration-none cast-title text-capitalize">Leena burton</a>
                </h6>
                <a href="cast-category.html" class="font-size-14 text-decoration-none text-capitalize text-body">actress</a>
              </div>
            </li>
          </ul>
          <div class="swiper-button swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-28b198b47109ea816"></div>
          <div class="swiper-button swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-28b198b47109ea816"></div>
          <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
      </section>
    </div>
  </div>

  <div class="movie-geners-block">
    <div class="container-fluid">
      <div class="overflow-hidden">
        <div class="d-flex align-items-center justify-content-between px-md-3 px-1 my-4">
          <h5 class="main-title text-capitalize mb-0">movie geners</h5>
          <a href="all-geners.html" class="text-primary iq-view-all text-decoration-none flex-none">View All</a>
        </div>
        <div class="card-style-slider">
          <div class="position-relative swiper swiper-card swiper-initialized swiper-horizontal swiper-pointer-events" data-slide="5" data-laptop="6" data-tab="3" data-mobile="2" data-mobile-sm="2" data-autoplay="false" data-loop="true" data-navigation="true" data-pagination="true">
            <ul class="p-0 swiper-wrapper m-0  list-inline geners-card" id="swiper-wrapper-171768af664440df" aria-live="polite" style="transform: translate3d(-926px, 0px, 0px); transition-duration: 0ms;">
              <li class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 7" style="width: 308.667px;" data-swiper-slide-index="0">
                <div class="iq-card-geners card-hover-style-two">
                  <div class="block-images position-relative w-100">
                    <div class="img-box rounded position-relative">
                      <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/genre/01.webp" alt="geners-img" class="img-fluid object-cover w-100 rounded">
                      <div class="blog-description">
                        <h6 class="mb-0 iq-title"><a href="" class="text-decoration-none text-capitalize line-count-2 p-2">action</a></h6>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="swiper-slide swiper-active swiper-slide-next" role="group" aria-label="2 / 7" style="width: 308.667px;" data-swiper-slide-index="1">
                <div class="iq-card-geners card-hover-style-two">
                  <div class="block-images position-relative w-100">
                    <div class="img-box rounded position-relative">
                      <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/genre/02.webp" alt="geners-img" class="img-fluid object-cover w-100 rounded">
                      <div class="blog-description">
                        <h6 class="mb-0 iq-title"><a href="" class="text-decoration-none text-capitalize line-count-2 p-2">adventure</a></h6>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="swiper-slide swiper-active last" role="group" aria-label="3 / 7" style="width: 308.667px;" data-swiper-slide-index="2">
                <div class="iq-card-geners card-hover-style-two">
                  <div class="block-images position-relative w-100">
                    <div class="img-box rounded position-relative">
                      <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/genre/03.webp" alt="geners-img" class="img-fluid object-cover w-100 rounded">
                      <div class="blog-description">
                        <h6 class="mb-0 iq-title"><a href="" class="text-decoration-none text-capitalize line-count-2 p-2">animation</a></h6>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="swiper-slide" role="group" aria-label="4 / 7" style="width: 308.667px;" data-swiper-slide-index="3">
                <div class="iq-card-geners card-hover-style-two">
                  <div class="block-images position-relative w-100">
                    <div class="img-box rounded position-relative">
                      <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/genre/04.webp" alt="geners-img" class="img-fluid object-cover w-100 rounded">
                      <div class="blog-description">
                        <h6 class="mb-0 iq-title"><a href="" class="text-decoration-none text-capitalize line-count-2 p-2">Crime</a></h6>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="swiper-slide" role="group" aria-label="5 / 7" style="width: 308.667px;" data-swiper-slide-index="4">
                <div class="iq-card-geners card-hover-style-two">
                  <div class="block-images position-relative w-100">
                    <div class="img-box rounded position-relative">
                      <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/genre/05.webp" alt="geners-img" class="img-fluid object-cover w-100 rounded">
                      <div class="blog-description">
                        <h6 class="mb-0 iq-title"><a href="" class="text-decoration-none text-capitalize line-count-2 p-2">horror</a></h6>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="swiper-slide" role="group" aria-label="6 / 7" style="width: 308.667px;" data-swiper-slide-index="5">
                <div class="iq-card-geners card-hover-style-two">
                  <div class="block-images position-relative w-100">
                    <div class="img-box rounded position-relative">
                      <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/genre/06.webp" alt="geners-img" class="img-fluid object-cover w-100 rounded">
                      <div class="blog-description">
                        <h6 class="mb-0 iq-title"><a href="" class="text-decoration-none text-capitalize line-count-2 p-2">mystery</a></h6>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="swiper-slide swiper-slide-duplicate-prev" role="group" aria-label="7 / 7" style="width: 308.667px;" data-swiper-slide-index="6">
                <div class="iq-card-geners card-hover-style-two">
                  <div class="block-images position-relative w-100">
                    <div class="img-box rounded position-relative">
                      <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/genre/07.webp" alt="geners-img" class="img-fluid object-cover w-100 rounded">
                      <div class="blog-description">
                        <h6 class="mb-0 iq-title"><a href="" class="text-decoration-none text-capitalize line-count-2 p-2">romance</a></h6>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
            <div class="swiper-button swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-171768af664440df"></div>
            <div class="swiper-button swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-171768af664440df"></div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
        </div>
      </div>
    </div>
  </div>

</main>

<footer class="footer footer-default">
  <div class="container-fluid">
    <div class="footer-top">
      <div class="row">
        <div class="col-xl-3 col-lg-6 mb-5 mb-lg-0">
          <div class="footer-logo">
            <!--Logo -->
            <div class="logo-default">
              <a class="navbar-brand text-primary" href="./index.html">
                <img class="img-fluid logo" src="https://templates.iqonic.design/streamit/html/frontend/assets/images/logo.webp" loading="lazy" alt="streamit">
              </a>
            </div>
            <div class="logo-hotstar">
              <a class="navbar-brand text-primary" href="./index.html">
                <img class="img-fluid logo" src="https://templates.iqonic.design/streamit/html/frontend/assets/images/logo-hotstar.webp" loading="lazy" alt="streamit">
              </a>
            </div>
            <div class="logo-prime">
              <a class="navbar-brand text-primary" href="./index.html">
                <img class="img-fluid logo" src="https://templates.iqonic.design/streamit/html/frontend/assets/images/logo-prime.webp" loading="lazy" alt="streamit">
              </a>
            </div>
            <div class="logo-hulu">
              <a class="navbar-brand text-primary" href="./index.html">
                <img class="img-fluid logo" src="https://templates.iqonic.design/streamit/html/frontend/assets/images/logo-hulu.webp" loading="lazy" alt="streamit">
              </a>
            </div>
          </div>
          <p class="mb-4 font-size-14">Email us: <span class="text-white">customer@streamit.com</span>
          </p>
          <p class="text-uppercase letter-spacing-1 font-size-14 mb-1">customer services</p>
          <p class="mb-0 contact text-white">+ (480) 555-0103</p>
        </div>
        <div class="col-xl-2 col-lg-6 mb-5 mb-lg-0">
          <h4 class="footer-link-title">Quick Links</h4>
          <ul class="list-unstyled footer-menu">
            <li class="mb-3">
              <a href="./about-us.html" class="ms-3">about us</a>
            </li>
            <li class="mb-3">
              <a href="./blog/blog-listing.html" class="ms-3">Blog</a>
            </li>
            <li class="mb-3">
              <a href="./pricing-plan.html" class="ms-3">Pricing Plan</a>
            </li>
            <li>
              <a href="./faq.html" class="ms-3">FAQ</a>
            </li>
          </ul>
        </div>
        <div class="col-xl-2 col-lg-6 mb-5 mb-lg-0">
          <h4 class="footer-link-title">Movies to watch</h4>
          <ul class="list-unstyled footer-menu">
            <li class="mb-3">
              <a href="./view-all-movie.html" class="ms-3">Top trending</a>
            </li>
            <li class="mb-3">
              <a href="./view-all-movie.html" class="ms-3">Recommended</a>
            </li>
            <li>
              <a href="./view-all-movie.html" class="ms-3">Popular</a>
            </li>
          </ul>
        </div>
        <div class="col-xl-2 col-lg-6 mb-5 mb-lg-0">
          <h4 class="footer-link-title">About company</h4>
          <ul class="list-unstyled footer-menu">
            <li class="mb-3">
              <a href="./contact-us.html" class="ms-3">contact us</a>
            </li>
            <li class="mb-3">
              <a href="./privacy-policy.html" class="ms-3">privacy policy</a>
            </li>
            <li>
              <a href="./terms-of-use.html" class="ms-3">Terms of use</a>
            </li>
          </ul>
        </div>
        <div class="col-xl-3 col-lg-6">
          <h4 class="footer-link-title">Subscribe Newsletter</h4>
          <div class="mailchimp mailchimp-dark">
            <div class="input-group mb-3 mt-4">
              <input type="text" class="form-control mb-0 font-size-14" placeholder="Email*" aria-describedby="button-addon2">
              <div class="iq-button">
                <button type="submit" class="btn btn-sm" id="button-addon2">Subscribe</button>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center mt-5">
            <span class="font-size-14 me-2">Follow Us:</span>
            <ul class="p-0 m-0 list-unstyled widget_social_media">
              <li class="">
                <a href="https://www.facebook.com/" class="position-relative">
                  <i class="fab fa-facebook"></i>
                </a>
              </li>
              <li class="">
                <a href="https://twitter.com/" class="position-relative">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="">
                <a href="https://github.com/" class="position-relative">
                  <i class="fab fa-github"></i>
                </a>
              </li>
              <li class="">
                <a href="https://www.instagram.com/" class="position-relative">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom border-top">
      <div class="row align-items-center">
        <div class="col-md-6">
          <ul class="menu list-inline p-0 d-flex flex-wrap align-items-center">
            <li class="menu-item">
              <a href="#"> Terms Of Use </a>
            </li>
            <li id="menu-item-7316" class="menu-item">
              <a href="./privacy-policy.html"> Privacy-Policy </a>
            </li>
            <li class="menu-item">
              <a href="./faq.html"> FAQ </a>
            </li>
            <li class="menu-item">
              <a href="./playlist.html"> Watch List </a>
            </li>
          </ul>
          <p class="font-size-14"> <span class="currentYear">2024</span> <span class="text-primary">STREAMIT</span>. All Rights Reserved. All videos and shows on this platform are trademarks of, and all related images and content are the property of, Streamit Inc. Duplication and copy of this is strictly prohibited. All rights reserved. </p>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3">
          <h6 class="font-size-14 pb-1">Download Streamit Apps </h6>
          <div class="d-flex align-items-center">
            <a class="app-image" href="#">
              <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/footer/google-play.webp" loading="lazy" alt="play-store">
            </a>
            <br>
            <a class="ms-3 app-image" href="#">
              <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/footer/apple.webp" loading="lazy" alt="app-store">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Wrapper End-->
<!-- Library Bundle Script -->
<script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/core/libs.min.js" type="text/javascript"></script>
<!-- Plugin Scripts -->


<!-- SwiperSlider Script -->
<script src="https://templates.iqonic.design/streamit/html/frontend/assets/vendor/swiperSlider/swiper.min.js" type="text/javascript"></script>




<!-- Lodash Utility -->
<script src="https://templates.iqonic.design/streamit/html/frontend/assets/vendor/lodash/lodash.min.js" type="text/javascript"></script>
<!-- External Library Bundle Script -->
<script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/core/external.min.js" type="text/javascript"></script>
<!-- countdown Script -->
<script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/plugins/countdown.js" type="text/javascript"></script>
<!-- utility Script -->
<script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/utility.js" type="text/javascript"></script>
<!-- Setting Script -->
<script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/setting.js" type="text/javascript"></script>
<script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/setting-init.js" defer="" type="text/javascript"></script>
<!-- Streamit Script -->
<script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/streamit.js" defer="" type="text/javascript"></script>
<script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/swiper.js" defer="" type="text/javascript"></script>


</body></html>