<div id="<%= dom_id rating %>">
  <p>
    <strong>User profile:</strong>
    <%= rating.user_profile_id %>
  </p>

  <p>
    <strong>Film:</strong>
    <%= rating.film_id %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= rating.score %>
  </p>

</div>
