<div id="<%= dom_id user_watch_later %>">
  <p>
    <strong>User profile:</strong>
    <%= user_watch_later.user_profile_id %>
  </p>

  <p>
    <strong>Film:</strong>
    <%= user_watch_later.film_id %>
  </p>

</div>
