<div id="<%= dom_id maturity_rating %>">
  <p>
    <strong>Title:</strong>
    <%= maturity_rating.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= maturity_rating.description %>
  </p>

</div>
