<h1>Editing maturity rating</h1>

<%= render "form", maturity_rating: @maturity_rating %>

<br>

<div>
  <%= link_to "Show this maturity rating", @maturity_rating %> |
  <%= link_to "Back to maturity ratings", maturity_ratings_path %>
</div>
