<h1>Editing cast film</h1>

<%= render "form", cast_film: @cast_film %>

<br>

<div>
  <%= link_to "Show this cast film", @cast_film %> |
  <%= link_to "Back to cast films", cast_films_path %>
</div>
