<footer class="footer footer-default">
    <div class="container-fluid">
      <div class="footer-top">
        <div class="row">
          <div class="col-xl-3 col-lg-6 mb-5 mb-lg-0">
            <div class="footer-logo">
                <!--Logo -->
                <div class="logo-default">
                     <a class="navbar-brand text-primary" href="/" style="font-size: 24px; margin-left: 50px;"> 
                         WatchHub
                     </a>
                 </div>
            </div>
            
          </div>
          <div class="col-xl-2 col-lg-6 mb-5 mb-lg-0">
            <h4 class="footer-link-title">Quick Links</h4>
            <ul class="nav flex-column">
              <li>
                <a href="#" class="nav-link">About us</a>
              </li>
              <li>
                <a href="#" class="nav-link">Blog</a>
              </li>
              <li>
                <a href="#" class="nav-link">Pricing Plan</a>
              </li>
              <li>
                <a href="#" class="nav-link">FAQ</a>
              </li>
            </ul>
          </div>
          <div class="col-xl-2 col-lg-6 mb-5 mb-lg-0">
            <h4 class="footer-link-title">Movies to watch</h4>
            <ul class="nav flex-column">
              <li>
                <a href="#" class="nav-link">Top trending</a>
              </li>
              <li>
                <a href="#" class="nav-link">Recommended</a>
              </li>
              <li>
                <a href="#" class="nav-link">Popular</a>
              </li>
            </ul>
          </div>
          
          <div class="col-xl-2 col-lg-6 mb-5 mb-lg-0">
            <h4 class="footer-link-title">About company</h4>
            <ul class="nav flex-column">
              <li>
                <a href="#" class="nav-link">Contact us</a>
              </li>
              <li>
                <a href="#" class="nav-link">Privacy policy</a>
              </li>
              <li>
                <a href="#" class="nav-link">Terms of use</a>
              </li>
            </ul>
          </div>
          <div class="col-xl-3 col-lg-6">
            <h4 class="footer-link-title">Subscribe Newsletter</h4>
            <div class="mailchimp mailchimp-dark">
              <div class="input-group mb-3 mt-4">
                <input type="text" class="form-control mb-0 font-size-14" placeholder="Email*" aria-describedby="button-addon2">
                <div class="iq-button">
                  <button type="submit" class="btn btn-sm" id="button-addon2">Subscribe</button>
                </div>
              </div>
            </div>
            <div class="d-flex align-items-center mt-5">
              <span class="font-size-14 me-2">Follow Us:</span>
                <ul class="p-0 m-0 list-unstyled widget_social_media">
                  <li class="">
                    <a href="https://www.facebook.com/" class="position-relative">
                      <i class="bi bi-facebook"></i>
                    </a>
                  </li>
                  <li class="">
                    <a href="https://twitter.com/" class="position-relative">
                      <i class="bi bi-twitter"></i>
                    </a>
                  </li>
                  <li class="">
                    <a href="https://github.com/SabinaGamidova721/WatchHub" class="position-relative">
                      <i class="bi bi-github"></i>
                    </a>
                  </li>
                  <li class="">
                    <a href="https://www.instagram.com/" class="position-relative">
                      <i class="bi bi-instagram"></i>
                    </a>
                  </li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</footer>